body {
    background-color: gray;
}

.choose-char {
    background-color: white;
    padding: 1.5rem;
    border: .5rem solid green;
    margin: 0 .5rem;
    cursor: pointer;
}

.your-char {
    background-color: white;
    padding: 1.5rem;
    border: .5rem solid green;
    margin: 0 .5rem;
}

.enemy-char {
    background-color: white;
    padding: 1.5rem;
    border: .5rem solid red;
    margin: 0 .5rem;
    cursor: pointer;
}

.locked-enemy {
    background-color: white;
    padding: 1.5rem;
    border: .5rem solid red;
    margin: 0 .5rem;
}

.defender-char {
    background-color: white;
    padding: 1.5rem;
    border: .5rem solid black;
    margin: 0 .5rem;
    cursor: pointer;
}

.flex-just {
    display: flex;
    justify-content: center;
} 

.name-display {
    position: absolute;
    top: 3%;
    left: 50%;
    margin-left: -62px;
}

.hp-display {
    position: absolute;
    bottom: -3%;
    left: 50%;
    margin-left: -14px;
}